@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Titillium+Web:ital,wght@1,200;1,600&display=swap');


/* font-family: 'Quicksand', sans-serif;
font-family: 'Titillium Web', sans-serif; */


/* reset de prioridades */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', cursive;
    background-color: #edeced
}

header {
    background-color: #676767
}

header h1 {
    color: honeydew;
    font-family: 'Titillium Web', sans-serif; 

}
.grid-layout{
    width: 80%;
    margin: 0 auto;
    /* background-color: cornflowerblue; */
    border: 3px;
}

header .header-flex {
    display: flex;
    justify-content: space-between;
}

header h1 #logoux{
    color: yellowgreen;
    font-style: italic;

}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    /* border: 2px solid white; */
}

header nav a {
     color: white;
     text-decoration:none ;
}

main {
    padding-top: 20px;
}

main #lapis{
    width: 100%;
} 

main .colunas-flex  {
    display: flex;
    justify-content: space-between;

}

 /* section */
main .coluna1 {
    width: 75%;
    /* background-color: cadetblue; */
    background-color: white;
}
/* aside */
main .coluna2 {
    width: 23%;
    /* background-color: coral; */
}

main .coluna2 article {
    background-color: white;
    margin-bottom: 20px;
}