/* Import fonts */
@font-face {
  font-family: Inter ;
  src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

/* Reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*classes genéricas*/
.layout-grid {
   margin: 0 auto;
   height: 100%;
   width: 90%;
   /*border: 1px solid red;*/
}

.alinhamento-between-center {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

body {
  color: white;
}

/*header*/
header {
  background-color: #1b1426;
  height: 60px;
}

header .header-top {
  display: none;
}

header .header-bottom {
  height: 60px;
}


header nav {
   position: fixed;
   top: 60px;
   width: 80vw;
   height: calc(100vh - 60px);
   left: 0;
   background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
   backdrop-filter: blur(45px);

   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

header .menu-usuarios {
   display: none;
}

header .header-bottom nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  border-bottom: 2px solid #f9aa01;
  padding: 30px 0;
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-family: Inter;
  
}

header .midias-sociais {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 65px;
  padding-bottom: 42px;
}

header .header-bottom nav a:last-of-type {
  border-bottom: none;
}






